.searchbar {
    width: calc(30% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #9c5353;
    border-radius: 4px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    position: relative;
}

#search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-30%);
}